body {
  font-family: "Roboto", sans-serif;
  background-color: #0b2329;
}

h1 {
  text-align: center;
  margin-top: 4rem;
  color: #f9f4f2;
  font-size: 3.5rem;
}
h3 {
  font-size: 1.5rem;
}
h4,
p {
  font-weight: 300;
  font-size: 1.5rem;
}

img {
  width: 100%;
  height: 18rem;
}

select {
  padding: 1rem;
  width: 25rem;
  margin-left: 1rem;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 1rem;
}

#book-title {
  text-decoration: underline;
}

.input {
  position: relative;
}

.input input {
  padding: 1rem;
  margin-left: 1rem;
  border: 2px solid gray;
  border-radius: 2rem;
  width: 22rem;
  font-size: 1.3rem;
}

.input i {
  position: absolute;
  left: 23rem;
  bottom: 1.2rem;
  font-size: 1.4rem;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
  justify-content: center;
}

.book-info {
  padding: 1rem;
  width: 26rem;
  background-color: #f9f4f2;
  box-shadow: 0px 5px 15px #f9f4f2;
}

.d-flex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.btn button {
  border-radius: 1rem;
  padding: 1rem;
  width: 15rem;
  font-size: 1rem;
  margin-left: 1rem;
  background-color: #514a92;
  color: #f9f4f2;
  border: none;
}

.error {
  background-color: #f9f4f2;
  padding: 2rem;
  width: 20rem;
  margin-top: 2rem;
  text-align: center;
  color: #9b111e;
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  select {
    margin-left: 0;
  }

  #sort {
    margin-left: 0;
  }
  .book-list {
    flex-direction: column;
    align-items: center;
  }
  .book-info {
    max-width: 100%;
  }
  .d-flex {
    flex-direction: column;
    align-items: center;
  }

  .d-flex input {
    margin-top: 4rem;
  }
}
