body {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 4rem;
}

h4,
p {
  font-weight: 300;
}

#book-title {
  text-decoration: underline;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
}

.book-info {
  padding: 1rem;
  width: 20%;
  border: 2px solid;
  margin: 1rem;
}
